
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>Fullscreen Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="{{url_for('static',filename = '/css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename = 'css/supersized.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename = 'css//style.css')}}">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
  {% if ss == 1  %}
  <p>名字已经存在</p>
  {% endif  %}
        <div class="page-container">
            <h1>Login</h1>
            <form action="/" method="post">
                <input type="text" name="username" class="username" placeholder="username">
                <input type="text" name="age" class="age" placeholder="age">
                <button type="submit">点击注册</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
        <div align="center">Collect from <a href="http://www.chenyaolong.com/" target="_blank" title="模板之家">陈耀龙Python练习</a></div>

    </body>

</html>

